---
---
// List (ul/ol) spacing and markers

ul,
ol {
  margin: 16px 0;
  padding-left: 28px;
}

ul {
  list-style-type: none;
}

ul li {
  position: relative;
}

ul li::before {
  content: "";
  position: absolute;
  left: -18px;
  top: 0.7em;
  width: 7px;
  height: 7px;
  border-radius: 2px;
  background: var(--secondary);
}

li {
  margin: 6px 0;
  padding-left: 6px;
  text-align: left;
  line-height: var(--spacing);

  ul,
  ol {
    margin: 0;
  }
}

li ul li::before {
  width: 5px;
  height: 5px;
  border-radius: 999px;
  background: var(--primary);
}