---
---
// Paragraph margins + home hero lead paragraph

p {
  margin: 20px 0;
  text-align: left;
  line-height: var(--line-normal);
}

/* homepage hero lead paragraph */
b.lead,
strong.lead {
  font-size: var(--fs-20);
  font-weight: var(--regular);
  line-height: var(--line-normal);
}