---
# POST LAYOUT - used for blog posts (front matter: type: posts).
# Renders title, author/date meta (post-info.html), the post body,
# and prev/next navigation (post-nav.html).
layout: default
---

{% include section.html background=page.image %}

<h1 class="center">{{ page.title }}</h1>

{%
  include post-info.html
  author=page.author
  member=page.member
  published=page.date
  updated=page.last_modified_at
  tags=page.tags
%}

{% include section.html %}

{{ content }}

{% include section.html %}

{% include post-nav.html post=page %}
